@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

transition: transform 100ms ease-in-out, opacity 200ms ease-in-out;

@keyframes slide-fade {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.transition-height {
  transition: height 0.3s ease-in-out;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.profile-image-wrapper {
  height: inherit;
}

/* For larger screens, apply -webkit-fill-available */
@media (min-width: 1024px) {
  .profile-image-wrapper {
    height: -webkit-fill-available;
    height: fill-available; /* fallback for non-webkit browsers */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
